version: '3.3'
services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - /path/to/local/d–∞ta:/root/redis
      - /path/to/local/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_PASSWORD=my-password
      - REDIS_PORT=6379
  monitor:
    build: .
    restart: always
    ports:
      - '3080:3080'
    environment:
      - REDIS_URL=redis://redis:6379
    env_file:
      - .env