OWNER=fidlabs
GOV_OWNER=filecoin-project
REPO=Open-Data-Pathway
GOV_REPO=Allocator-Governance
COMMENT_AUTHOR=datacap-bot[bot]
ALLOCATION_STALE_THRESHOLD_DAYS=28
APP_ID=807502
PRIVATE_KEY_PATH=/github_app_private_key.pem
MONITORING_INTERVAL=3600
GLIF_URL=https://api.node.glif.io/rpc/v0
MNEMONIC=24 WORDS MNEMONIC